csmith/
c-testsuite/
cmake*/
.vscode/
cs164*
chocopy-*
*.aux
.DS_Store
*.log
*.toc
*.gz
*.out
.idea
__pycache__
recursion
.antlr
ChocoPyUn*
build
a.py
Pipfile
Pipfile.lock
chocopy_stdlib.cpp
.cache/
*.bak
*.tmp